@import "@/styles/imports";

.section {
	max-width: $max-width;
	margin-inline: auto;
	padding: 5rem 7rem;
	.grid {
		@include grid(repeat(4, 1fr), 1rem, 1rem);
		margin-top: 5rem;
		.card {
			width: 100%;
			background-color: rgba(255, 255, 255, 0.05);
			height: 27rem;
			padding: 2rem;
			@extend %center;
		}
	}
	@include screenMax("mobile") {
		padding-inline: 1.6rem;
		.grid {
			grid-template-columns: 100%;
		}
	}
}
